@import './variables';
/* modal */
.modal-background{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    overflow: auto;
  }
.modal-body {
  background-color: $modal-background-color;
  display: flex;
  justify-content: center;
  max-width: 50%;
  
    padding: 5em;
}
.show-modal {
  display: flex;
}
