@import 'variables.scss';

* {
    box-sizing: border-box;
}
body {
    background:  $background-color;
    color: $font-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

.container {
    // max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}

.table-of-books {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    * {
        padding: 0.5em;
    }
}

.modal-body form {
    width: 80%;
    input, select {
        background-color: $select-background-color;
        border: none;
        
        margin: .5em 0 .5em 0;
        outline: none;
        padding: 1em;
        color: $placholder-font-color;
        font-weight: 500;
        &[type='text'] {
            // background: transparent;
            width: 100%;
            // border-bottom: 1px solid #ddd;
            &::placeholder {
                color: $placholder-font-color;
            }
            
        }
    }
    label {
        color: $label-font-color;
    }
    label:not([for=priority]) {
        display: block;
    }
    p {
        margin: 0;
    }
    select {
       
        width: 100%;
    }
}



.category-counters, .author-filter {
    cursor: pointer;
}