$background-color: #d4c7b0;
$font-color: #3F4238;
$modal-background-color: #6B705C;
$select-background-color: #A5A58D;
$placholder-font-color: #3F4238;
$label-font-color: #D4C7B0;
$buttons-bg: #6B705C;
$headers-bg: #3F4238;
$even-tr-background: #FFE8D6;
$error: #FEFAE0;
$remove-book-bg: #562C2C;
$edit-book-bg: #127475;